@import '../../styles.module.scss';

.page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}
.content {
  display: flex;
  height: 100vh;
}

.photo {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-secondary;
  font-size: calc(var(--index) * 1.2); //36px;
  text-transform: uppercase;

  a {
    width: 100%;
    text-align: center;
  }
  &::after {
    content: '';
    position: relative;
    right: -1px;
    background: linear-gradient(
      0deg,
      rgb(166, 155, 155),
      rgb(255, 255, 255),
      rgb(166, 155, 155)
    );
    width: 2px;
    height: 50%;
    z-index: 1;
    border-radius: 5px;
  }
  &:last-child::after {
    width: 0;
  }
  span {
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.502);
  }

  &:nth-child(1) {
    background: url('../../assets/images/elite-galerry/elite-photo.jpg') no-repeat;
    background-size: cover;
    background-position: left;

    &:hover {
      width: 300%;
      cursor: pointer;
      transition: all 1s ease;
    }
  }

  &:nth-child(2) {
    background: url('../../assets/images/vip-galerry/vip-photo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      width: 300%;
      cursor: pointer;
      transition: all 1s ease;
    }
    span {
      color: #ffac30;
    }
  }

  &:nth-child(3) {
    background: url('../../assets/images/extra-galerry/extra-photo.jpg') no-repeat;
    background-size: cover;
    background-position: right;
    &:hover {
      width: 300%;
      cursor: pointer;
      transition: all 1s ease;
    }
  }
}

@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
  }
  .photo {
    height: 33.3%;

    &::after {
      background: trnsparent;
    }

    &:nth-child(1) {
      &:hover {
        width: 100%;
        transition: none;
      }
    }

    &:nth-child(2) {
      &:hover {
        width: 100%;
        transition: none;
      }
    }

    &:nth-child(3) {
      &:hover {
        width: 100%;
        transition: none;
      }
    }
  }
}
