:root {
  --pos: left center;
  --size: 0;
}

.feedback {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 650px;
  height: 200px;
  padding: 60px;
  background: #ffffff;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap:20px;
  }
  .discuss {
    font-family: "Open Sans";
    width: 100%;
    border:none;
    background: white;
    color: #ffac30;
    text-transform: uppercase;
    font-size:20px;
    letter-spacing:10px;
    cursor: pointer;
    text-align: left;
  }
  .discuss:hover {
    border-bottom: 1px solid #ffac30;
    transition: all 1s ease;
  }
}
