@import '../../styles.module.scss';

:root {
  --pos: left center;
  --size: 0;
}

.feedback {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 417px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 30px 0 0 0;
}

@keyframes hoverForm {
  from {
    width: 417px;
    padding: 30px;
  }
  to {
    width: 550px;
    padding: 50px;
  }
}
.feedback:hover {
  animation-name: hoverForm;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.unHovereffect {
  animation-name: unhoverForm;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes unhoverForm {
  from {
    width: 550px;
    padding: 50px;
  }
  to {
    width: 417px;
    padding: 30px;
  }
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  input {
    width: 100%;
    border: none;
    background: inherit;
    padding: 8px;
    border-radius: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;
    color: #ffac30;
  }

  input:focus {
    outline: none;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    svg {
      stroke: #ffac30;
    }
  }
  .discuss {
    font-family: $font-family-third;
    width: 100%;
    border: none;
    background: transparent;
    color: #ffac30;
    text-transform: uppercase;
    font-size: calc(var(--index) * 0.56); //18px;
    letter-spacing: 5px;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid transparent;
  }
  .discuss:hover {
    border-bottom: 1px solid #ffac30;
    transition: all 1s ease;
  }
}
fieldset {
  border: none;
  position: relative;
}
.errorInput {
  border: 1px solid rgb(231, 115, 80);
  outline: none;
}
.errorMessage {
  color: rgb(231, 115, 80);
  font-size: 12px;
  position: absolute;
  bottom: -18px;
  right: 0px;
}
.notification {
  display: flex;
  position: relative;
  .circle {
    position: absolute;
    left: -3px;
    top: 0px;
  }
}
.atentionText {
  color: #ffac30;
  font-family: Open Sans;
  font-size: 14px;
  padding-left: 50px;
}
.circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
}
.count {
  font-family: $font-family-secondary;
}

@media screen and (max-width: 500px) {
  .feedback {
    width: 300px;
    padding: 10px;
  }
  .feedback:hover {
    animation: none;
    animation-name: none;
  }
  .unHovereffect {
    animation: none;
  }
}

@media screen and (max-width: 400px) {
  form .discuss {
    font-size: 15px;
  }
  .feedback {
    width: 100%;
  }
}

//orientation landscape
// @media (max-device-width: 767px) and (orientation: landscape) {
//   .feedback {
//     width: 80%;
//     padding: 20px 20px 10px;

//     form {
//       flex-direction: row;
//       justify-content: flex-end;
//     }
//   }
//   .feedback:hover {
//     animation: none;
//     animation-name: none;
//   }
//   .unHovereffect {
//     animation: none;
//   }
//   .errorMessage {
//     top: -15px;
//   }
// }
