:root {
  --pos: left center;
  --size: 0;
}

.feedback {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
  padding: 30px;
  background: rgba(0,0,0, .35);
  border-radius: 30px 0 0 0;
  -webkit-border-radius: 30px 0 0 0;
  -moz-border-radius: 30px 0 0 0;
  -ms-border-radius: 30px 0 0 0;
  -o-border-radius: 30px 0 0 0;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  input {
    border: none;
    background: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    outline: none;
    color: #ffac30;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    svg {
      stroke: #ffac30;
    }
  }
  .discuss {
    font-family: "Open Sans";
    width: 100%;
    border: none;
    background: transparent;
    color: #ffac30;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid transparent;
  }
  .discuss:hover {
    border-bottom: 1px solid #ffac30;
    transition: all 1s ease;
  }
}
