.page {
  width: 100%;
  height: 100vh;
  background: url('../../assets/images/fourth.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
.content {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 7%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  width: 50%;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.data {
  display: grid;
  position: relative;
  grid-template-columns: 200px 1fr 100px;
  justify-items: center;
  align-items: center;
  column-gap: 70px;
}
.scrollBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* top: 186px; */
  /* right: -15px; */
  width: 200px;
  height: 200px;
  box-shadow: inset 0 0 0 1px rgb(104, 104, 104);
  border-radius: 50%;
  /* margin-right: 70px; */
  grid-column: 1 / 2;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  mask-image: radial-gradient(circle at center, transparent 69%, red 50%);
}
.topCircle {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background: transparent;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bruno Ace SC';
  font-size: 64px;
  line-height: 70px;
}

.steps {
  display: flex;
  /* width: 100%; */
  width: 80%;
  position: relative;
  grid-column: 2 / 3;
  align-items: center;
}
.card {
  display: none;
}
.activeCard {
  display: flex;
  align-items: center;
  column-gap: 41px;
  .name {
    font-size: 36px;
    font-family: 'Open Sans';
    width: 290px;
  }
  .text {
    font-size: 18px;
    width: 290px;
    line-height: 30px;
  }
}
.transition {
  // position: absolute;
  // top:50%;
  // right:10%;
  // top: 50%;
  // transform: translate(-10%, -50%);
  grid-column: 3 / 4;
}
.next {
  cursor: pointer;
}
