@import '../../styles.module.scss';

.page {
  width: 100%;
  height: 100vh;
  background: url('../../assets/images/fourth.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
.content {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 7%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: calc(var(--index) * 0.6); // 20px;
  width: 50%;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.data {
  display: grid;
  position: relative;
  grid-template-columns: 200px 1fr 100px;
  justify-items: center;
  align-items: center;
  column-gap: 70px;
}
.scrollBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: inset 0 0 0 1px rgb(104, 104, 104);
  border-radius: 50%;
  grid-column: 1 / 2;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  // mask-image: radial-gradient(circle at center, transparent 69%, red 50%);
  mask-image: radial-gradient(circle, transparent 60%, black 100%);
}
.topCircle {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background: transparent;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-secondary;
  font-size: calc(var(--index) * 3.25); // 64px;
  line-height: calc(var(--index) * 3.4); //70px;
}

.steps {
  display: flex;
  width: 80%;
  position: relative;
  grid-column: 2 / 3;
  align-items: center;
}
.card {
  display: none;
}
.activeCard {
  display: flex;
  align-items: center;
  column-gap: 41px;
  .name {
    font-size: calc(var(--index) * 1.18); //36px;
    font-family: $font-family-third;
    width: 290px;
  }
  .text {
    font-size: calc(var(--index) * 0.8); //18px;
    width: 290px;
    line-height: 30px;
  }
}
.transition {
  grid-column: 3 / 4;
}
.next {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .data {
    column-gap: 25px;
  }
  .activeCard {
    column-gap: 10px;
  }
}

@media screen and (max-width: 1250px) {
  .data {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .steps {
    width: 100%;
    justify-content: center;
  }
  .title {
    width: 100%;
  }
  .name,
  .text {
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    row-gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .scrollBar {
    width: 100px;
    height: 100px;
  }
  .data {
    row-gap: 82px;
  }
  .card {
    row-gap: 77px;
  }
}
