.scroll-page {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dots {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  width: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  justify-content: center;
}
.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.active {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ffac30;
  box-shadow:
    inset 0px 0px 0px 0px transparent,
    0 0 0 10px rgba(255, 255, 255, 0.3);
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
