.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: calc(var(--index) * 6.2); //178px;
  right: calc(var(--index) * 6.2); // 178px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(#fff, 0.25);
  font-size: calc(var(--index) * 0.51);
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}
.menuLeft,
.menuRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
  align-items: center;
  column-gap: 50px;
}
.link {
  position: relative;
  svg {
    cursor: pointer;
  }
}
.submenu {
  position: absolute;
  top: 30px;
  width: 0px;
  padding: 0;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 0 0 30px 0;
  font-family: 'Open Sans';
  opacity: 0;
  color: transparent;
  font-size: 1px;
  line-height: 1px;
}
.hoverEffect {
  animation-name: hoverForm;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes hoverForm {
  from {
    opacity: 0;
    width: 0px;
    padding: 0;
  }
  to {
    opacity: 1;
    width: 226px;
    padding: 30px;
    color: inherit;
    font-size: 16px;
    line-height: 30px;
  }
}

.unHovereffect {
  animation-name: unhoverForm;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes unhoverForm {
  from {
    opacity: 1;
    width: 226px;
    padding: 30px;
  }
  to {
    opacity: 0;
    width: 0px;
    padding: 0;
  }
}
.linkItem {
  cursor: pointer;
}
.linkItem:hover a {
  color: #ffac30;
  transition: color 500ms ease;
}
.menuRight {
  width: 60%;
  justify-content: flex-end;
  font-family: 'Open Sans';
  color: #ffac30;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 500;
}
.circle {
  background: transparent;
  border: 1px solid rgba(#fff, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circleOne {
  width: 80px;
  height: 80px;
}

.circleTwo {
  width: 60px;
  height: 60px;
}
.circleThird {
  width: 40px;
  height: 40px;
  background: rgba(#fff, 0.15);
  border: none;
}
.circleThird:hover {
  width: 50px;
  height: 50px;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 910px) {
  .menuLeft,
  .menuRight {
    column-gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    left: calc(var(--index) * 1.2); //178px;
    right: calc(var(--index) * 1.2); // 178px;
  }
}
@media screen and (max-width: 610px) {
  .menuLeft,
  .menuRight {
    column-gap: 10px;
  }
  .menuLeft {
    width: 10%;
  }
  .menuRight {
    width: 90%;
  }
  .menuLeft .phone {
    display: none;
  }
}
