.sidebar {
  position: absolute;
  top: 24px;
  left: 65px;
  bottom: 54px;
  width: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.text {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: calc(var(--index) * 0.4); //12px;
  color: rgba(255, 255, 255, 0.5);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.decoration {
  width: 1px;
  height: calc(var(--index) * 5); //10%;
  background: rgba(255, 255, 255, 0.25);
  margin: 10px 0;
}
.social {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.link:hover {
  cursor: pointer;
  stroke: #ffac30;
  fill: #ffac30;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
