* {
  margin:0;
  padding:0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto";
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}

h1 {
  font-family: "Bruno Ace SC";
  line-height: 90px;
  font-size:96px;
}
h2 {
  font-size: 16px;
  letter-spacing: 10px;
}